/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    overflow-x: hidden;  
}



/* Color */
.text-color{
    color: #D62020;
}

.background-color{
    background-color: #202124;
}
.second-background-color{
    background-color:#25272C
}

.normal-text{
    color: grey;
}
.hidden{
    display: none !important;
}

.show{
    display: block !important;
}
.view {
    height: 40px;
    width: 90px;
    border-radius: 8px;
    background-color: #7f0707cc;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.view:hover{
    border-left: 5px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
    color: black;
}
