*{
    width:100%;
}
.height{
    height: 400px;
}
.align-center{
    text-align: center;
}
.page-button{
    width:10px;
    
}
.bookmarks-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.bookmark-item{
    width:70%;
}
.bookmark-section div{
    width:90%;
}
.wall-paper{
    width:100%;
    
}
.wall-paper img{
    max-width: 1000px;
    height: 400px;
}