

.movies-section{
    width: 100%;
    height: 20vh;
}

.movies-cards{
    gap: 20px;
    margin: 6% auto 0;
}

.movie-card{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
