/* Base Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
    font-family: 'Rufina', serif;
    color: #ffffff;
}

.primary-title {
    font-size: xx-large;
    color: #B40000;
    text-shadow: 1px 1px 5px #333;
    animation: fadeIn 1s ease-in-out;
}

.width70 {
    width: 70%;
}

.width100 {
    width: 100%;
}

.on-line {
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #2A2A2A;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.on-line:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6);
}

.on-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    gap: 10px;
}

.on-col p {
    font-size: 18px;
    color: #ffffff;
    opacity: 0.9;
}

.on-col h3 {
    font-size: 24px;
    color: #B40000;
    transition: color 0.3s;
}

.on-col h3:hover {
    color: #FF1A1A;
}

.avengers-img, .on-col img {
    width: 80%;
    
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avengers-img img {
    border: 0.5px solid #ffffff;
    box-shadow: 0 4px 8px rgba(206, 206, 206, 0.8);
}

.avengers-img:hover, .on-col img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(206, 206, 206, 0.9);
}

.button {
    background-color: #B40000;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: #8A0000;
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.button:active {
    transform: scale(0.95);
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    animation: slideUp 1s ease;
}

.movie-item {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
}

.movie-item img {
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    transition: filter 0.3s ease;
}

.movie-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.6);
}

.movie-item:hover img {
    filter: brightness(0.8);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 12px;
    background-color: #B40000;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s;
}

.pagination button:hover {
    background-color: #8A0000;
    transform: translateY(-2px);
}

.pagination button.active {
    background-color: #590d0d;
}

.pagination button:disabled {
    background-color: #B40000;
    cursor: not-allowed;
    opacity: 0.5;
}

.color-white {
    color: #ffffff;
}

.primary-color {
    color: #B40000;
}

.primary-back {
    background-color: #B40000;
}
